<script>

    import { scaleLinear } from "d3-scale";
  
    // Size and margins
    const width = 250;
    const height = 320;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    export let data = [];
    export let city;
    
    // definition of the radius of the circle
    let r_circle = 80;
  

    // let´s define the scales:
    const Scale_y = scaleLinear().domain([0,160000]).range([0,r_circle]);

    let Scale_x = scaleLinear().domain([0,365]).range([-Math.PI/2,5]);

    function create_path(d){
      let path = "M ";
      // let´s define starting values:
      let valores_y = 0;
      let valores_x = 0;
      
      d.forEach((value,index_of_d) => {
        valores_x = Scale_y(value)*Math.cos(Scale_x(index_of_d));
        valores_y = Scale_y(value)*Math.sin(Scale_x(index_of_d));
        path += " " + (valores_x + r_circle) + "," + (valores_y+150);
      });
     
      return path;
    }
  
  </script>
  
  
  <svg {width} {height}>
    
      <g transform="translate({margin.left+10}, {margin.top})">
        
        <circle cx={r_circle} cy={150} r={r_circle} stroke="black" fill="white"/>
        
        <line x1={r_circle} y1={230} x2={r_circle} y2={70} stroke="black"/>
        
        <line x1={0} y1={150} x2={r_circle*2} y2={150} stroke="black"/>
        
        <text font-size=15 text-anchor="middle" x={r_circle} y=60> 0 </text>
        
        <text font-size=15 text-anchor="middle" x={r_circle} y=250> 6 </text>
        
        <text font-size=15 text-anchor="middle" x=-13 y={155}> 9 </text>
        
        <text font-size=15 text-anchor="middle" x={innerWidth-55} y=155> 3 </text>
        
        
        <text text-anchor="middle" font-size=18 x={r_circle} y=40> {city} </text>        
        
        <text x=160 y=60 >month</text>
        
        <path d="M 120,49 Q 165,56 180,106" fill=none stroke="black" stroke-width=0.4px/>
        
        <line x1=180 x2=181 y1=105 y2=95 fill=none stroke="black" stroke-width=0.4px />
        
        <line x1=180 x2=173.5 y1=105 y2=98 fill=none stroke="black" stroke-width=0.4px />
    

        <text x=150 y=210 fill = "blue" >cooling</text>
        <path d="M 80,150 Q 135,160 160,195" fill= blue fill-opacity = 0  stroke= blue />
        
        <text x=-20 y=64 fill = "red">heating</text>
        <path d="M 0,80 Q -20,120 80,150" fill= red fill-opacity = 0 stroke= red/>

        <path d={create_path(data['cooling'])} fill="blue" fill-opacity=0.6 stroke="black" stroke-opacity=0.1/>
        <path d={create_path(data['heating'])} fill="red" fill-opacity=0.6 stroke="black" stroke-opacity=0.1/>

  
      </g>
    </svg>
  
    <style>
      svg {
        border: 1px transparent;
        border-radius: 5px;
      }
      line {
        stroke: black;
        stroke-width: 0.4;
  }

    </style>
    
  