<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { extent } from 'd3-array';
  import Heating_cooling from "./_design_2_plot.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  let transformed_data = {} ;
  let y_axis_total ;
  let pass = null ;
  $:{
    if(!data){
      pass
    }
    else{
      data.forEach((d) => {
        if(!(d.city in transformed_data)){
          transformed_data[d.city] = {};
          transformed_data[d.city]["cooling"] = [];
          transformed_data[d.city]["heating"] = [];
        }
        transformed_data[d.city]["cooling"].push(d.cooling);
        transformed_data[d.city]["heating"].push(d.heating);
      });
  
      y_axis_total = [Math.min(extent(data.map(d => d.cooling))[0],extent(data.map(d => d.heating))[0]),Math.max(extent(data.map(d => d.cooling))[1],extent(data.map(d => d.heating))[1])];
    } 
  }


  // let´s verify that the data is well loaded:
  $:console.log(data)
  $:console.log(transformed_data)


  // list of cities to iterate!
  let list_cities = ["Chicago","Baltimore","Los Angeles"]

</script>

<div>
  <p >
    Design 2: Heating and cooling within a year.
  </p>

{#if !data}
  <p>The data is being loaded.</p>
{:else}

{#each list_cities as i}
  <Heating_cooling data={transformed_data[i]} {...{city: i}} y_domain={y_axis_total} />
  {/each}
{/if}
</div>