<script>
  import { scaleLinear } from "d3-scale";
  import { scaleLog } from "d3-scale";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  
  
  // Size and margins
  const width = 750;
  const height = 350;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // first, we should get the data:
  let data = [];
  
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  // let´s transform the data as in the example video:
  
  let transformed_data = {};
  $: {
    data.forEach((d) => {
      if ( !(d.city in transformed_data)){
        // first as a dict
        transformed_data[d.city] = {};}
      if ( !(d.buildingtype in transformed_data[d.city])){
        // then a as a list
        transformed_data[d.city][d.buildingtype] = [];}
        transformed_data[d.city][d.buildingtype].push(d.total_heating_energy);}
      )
  }

  // let´s verify that data is well loaded:

  $:console.log(transformed_data)


  // now we can create a dictionary to indicate which city is selected:
  let selected_city = {};

  // to initialize it:
  $: if (("Chicago" in transformed_data)){selected_city = transformed_data["Chicago"];};

  // let´s create a function to select the city
  function select_location(city_name){selected_city = transformed_data[city_name.currentTarget.value];};

  // scales:
  // I want to define the scale of y in a way that I can modify it for each building type. So for now, let´s just initialize it:
  $: scale_y = 0
  $: scale_x = scaleLinear().domain([0,innerWidth]).range([190,innerWidth-20]);
  

  // let´s make the path
  let create_path = (d) => {
    // let´s define the scale depending on the value of the building
    scale_y = scaleLinear().domain([0,Math.max(...d)]).range([10,0]);
    let path = "M "+190+"," + scale_y(0);
    d.forEach((valor, index_to_iter) => {
      path += " " + scale_x(index_to_iter) + ',' + scale_y(valor) ;
    })

    return path;
  }
</script>

<div>
<p>Design 1: Energy use over multiple days.</p>
  <div class="second_d">
    <div class="graph">
      
      <p>  Please, select a city:  </p>
      <label>
          <input type="radio" value="Baltimore" id="balt" name="loc" on:change={select_location}>
          Baltimore
        </label><br>
      
        <label>
          <input type="radio" value="Los Angeles" id="la" name="loc" on:change={select_location}>
          Los Angeles
        </label><br>
        
        <label>
          <input type="radio" value="Chicago" id="ch" name="loc" on:change={select_location}>
          Chicago
        </label>  

    </div>
  </div>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">

    {#each Object.keys(selected_city) as types_, index_types}

      <g transform="translate(0, {index_types*20})">
        <text transform="translate({170}, 12)" font-family = Arial text-anchor="end" >{types_}</text>
          <path d={create_path(selected_city[types_])} />
      </g>
    {/each}
  </g>
</svg>
</div>


<style>
  .second_d{
    display: flex;
  }
  .graph{
    display: block;
    margin: 0 50px 22px 0;
  }

  path {
    stroke: rgb(0, 0, 0);
    fill:rgb(0, 0, 0);
    fill-opacity: 0.999;
  }
</style>
