<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="bm" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="br" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="bn" on:click={() => (current = "neymar")}>
  Neymar
</button>

{#if current == "messi"}
<style> 
      button.bm  {
      background-color: #99ff33
      }
      </style>
{/if}

{#if current == "ronaldo"}
<style> 
      button.br  {
      background-color: #99ff33
      }
      </style>
{/if}

{#if current == "neymar"}
<style> 
      button.bn  {
      background-color: #99ff33
      }
      </style>
{/if}