<style>
    p {
      font-family: "Times New Roman", Times, serif;
      color: steelblue;
      font-size:3vw
    }

    .different {
        color: yellowgreen;
    }
  </style>

<p>I <span class = "different">really</span> like data visualisation!</p>
