<script>
const Student_Favourite_Things = {name: 'Santiago', favourite_things: ["Tennis raquets", "Pencils","Cold water","Music"]};
</script>

<p>My name is {Student_Favourite_Things.name} and these are some of my favourite things: {Student_Favourite_Things.favourite_things}. </p>