<script>
 let radius = 5
 function circumference_from_radius(c) { return c*2*3.14159265359 }
</script>

<p>The circumference of a circle with radius {radius}m is {circumference_from_radius(radius).toFixed(2)}m.</p>
