<script>
    let clicked = 0;
  </script>
  
  <div>
    <button style="height:38px;width:138px" class="btn btn-primary" on:click={() => (clicked += 1)}>

    {#if clicked == 1}
        <p>Clicked 1 time</p>
    {:else}
          <p>Clicked {clicked} times</p>
    {/if}
          
    </button>

    <button style="height:38px;width:67.13px" class="btn btn-danger" on:click={() => (clicked = 0)}>
        Reset
      </button>
 
  </div>

  <style>
    button {
      margin: -1.93px;
    }
  </style>