<script>

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];


  // All lights with a higher index are on!
  let index = points.length;
  
  // Color
  let color = "darkred";
  let second_color = "darkgreen";

  const interval = setInterval(() => {
    index-=1;} , 1000);

  $: index < 0 ? clearInterval(interval) : 1;
  
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp, index_to_iterate}
      {#if index <= -1} 
      <circle cx={dp} 
              cy={innerHeight/2}
              r="10"
              style= "fill-opacity: 1;fill:{second_color}"></circle>
                
      {:else if index <= index_to_iterate}

      <circle cx={dp} 
              cy={innerHeight/2}
              r="10"
              style= "fill-opacity: 1;fill:{color}"></circle>
            
      {:else}
      <circle cx={dp} 
              cy={innerHeight/2}
              r="10"
              style= "fill-opacity: 0.3;fill:{color}"></circle>
            
      {/if}
    {/each}
  </g>
</svg>
