<script>
  import { scaleLinear } from "d3-scale";
  import { scaleSqrt } from 'd3-scale';
  import { scaleLog } from 'd3-scale';
  import { scaleOrdinal } from "d3-scale";
  import { extent } from 'd3-array';
  import { schemeTableau10 } from 'd3-scale-chromatic';
  import { axisBottom} from 'd3-axis';
  import { axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';


  // Dimensions
  
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  export let data;
  
  // First, let´s define the scale of the x axis:
  const scale_X = scaleLog().domain([300,100000]).range([0,545]);
  // Then, the y axis:
  const scale_Y = scaleLinear().domain([0,90]).range([innerHeight,0]);
  // Let´s define the color category in order to color each point by its country
  const colour_category = extent(data, (d) => d.continent);
  const scale_C = scaleOrdinal().range(schemeTableau10).domain(colour_category);
  const scale_R = scaleSqrt().domain([0,5e8]).range([5,10]);
  const ticks=[400,4000,40000];
  

  let v_to_bind_x;
  $:{
    let axis_x = axisBottom(scale_X).tickValues(ticks);
    select(v_to_bind_x).call(axis_x);
  }

  let v_to_bind_y;
$:{
    let axis_y = axisLeft(scale_Y);
    select(v_to_bind_y).call(axis_y);
  }

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    
    {#each data as datapoints}

    {#if datapoints.life_exp !== null && datapoints.income !== null &&  datapoints.population !== null}
    <circle cx={scale_X(+datapoints.income)} cy={scale_Y(+datapoints.life_exp)} r={scale_R(+datapoints.population)} style="fill: {scale_C(datapoints.continent)};"/>
    {/if}

    {/each}
    
    {#each ticks as tick}
    <text  x={scale_X(+tick)-13}  y={height-1.7*margin.top} fill="currentColor" style="font-size:0.6em;">${tick} </text>
    {/each}
</g>
<g transform="translate({margin.left},{margin.top})" bind:this={v_to_bind_y}>
</g>
<g transform="translate({margin.left},{innerHeight+margin.top})" bind:this={v_to_bind_x}>
</g>
<text  x=0 y=0 transform=" translate(20,260) rotate(270)" fill="currentColor" style="font-size:1.1em;">Life Expectancy </text>
<text x=272.5 y=387 fill="currentColor" style="font-size:1.1em;"> GDP per Capita </text>
<text x={innerWidth-27}, y={innerHeight+40} style="font-size:2.2em; opacity: 0.4;">1800</text>
<text x={innerWidth/2-2.5*margin.left}  y=50 style="font-size:2.3em;"> Gapminder Scatterplot </text>
</svg>
