<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height} >
  <g transform="translate({margin.left}, {margin.top})">
 
    <rect x={(innerWidth-40)/2} y={(innerHeight-40)/2}  height=40 width=40 fill = "yellow"/>
    
    <circle r="20" cx="{(innerWidth-10)*4/5}" cy="{(innerHeight-10)*4/5}"  fill="skyblue"/>
 
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
