<script>

import { scaleLinear} from 'd3-scale';
import { scaleOrdinal } from 'd3-scale';
import { schemeDark2 } from 'd3-scale-chromatic';
import { extent } from 'd3-array';
import { line } from 'd3-shape';


// Dimensions
const width = 800;
const height = 100;
const margin = { top: 20, right: 5, bottom: 5, left: 5 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Array
const values = [
  { x: 2, y: 1, category: "cat1" },
  { x: 4, y: 2, category: "cat3" },
  { x: 6, y: 1, category: "cat2" },
  { x: 7, y: 3, category: "cat3" },
  { x: 9, y: 1, category: "cat2" }
];


const scaleX = scaleLinear().domain([0,10]).range([0, innerWidth]);
const scaleY = scaleLinear().domain([3,0]).range([0, innerHeight]);

// To be able to color each category:
const cat = extent(values,v => v.category);
const scaleO_cat = scaleOrdinal(schemeDark2).domain(cat);

</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">

    
    {#each values as valores}

    
      <circle cx={scaleX(valores.x)} cy={scaleY(valores.y)} style={"fill:" +scaleO_cat(valores.category)} r="5"/>
      <line x1="0" x2={innerWidth} y1="75"  y2="75" stroke="black" ></line>
      <text  class="valueLabel" x={scaleX(valores.x)} y={scaleY(valores.y) - 10}>{valores.y}</text>
      <line x1={scaleX(valores.x)} x2={scaleX(valores.x)} y1={scaleY(valores.y)+5} y2=75 stroke="black" ></line>
      {/each}
    </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
