<script>

import {select} from 'd3-selection';
import {axisBottom} from 'd3-axis';
import {scaleLinear} from 'd3-scale';
import {axisLeft} from 'd3-axis';
import {scaleBand} from 'd3-scale';


const width = 600;
const height = 300;
const margin = { top: 10, right: 10, bottom: 30, left: 60 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Array
const data = [
  { service: "Netflix", viewers: 2.9 },
  { service: "Amazon Prime Video", viewers: 1.3 },
  { service: "Disney+", viewers: 2.1 },
  { service: "Hulu", viewers: 0.9 },
  { service: "Apple TV", viewers: 1.1 },
  { service: "Rakuten", viewers: 0.4 }
];

// We can map the values for the x categories: 

const Yscale=scaleLinear().domain([0,3]).range([innerHeight,0]);

const ser_create_class = data.map(data_values=>data_values.service);

const Xscale = scaleBand().range([0,innerWidth-50]).domain(ser_create_class);

function Axis_y(g){ const Axis_y =axisLeft(Yscale); select(g).call(Axis_y);}

function Axis_x(g){ const Axis_x=axisBottom(Xscale); select(g).call(Axis_x);}


</script>


<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:Axis_x>
  </g>
  <g transform={"translate(60,10)"}>
    {#each data as datapoints}
    
    <rect x={Xscale(datapoints.service)+9.5} y={Yscale(+datapoints.viewers)} width="68" height={innerHeight-Yscale(+datapoints.viewers)} fill="steelblue"/>
    
    {/each}

  </g>

  <g transform="translate({margin.left},{margin.top})" use:Axis_y>
  </g>
  <text  x=0 y=0 transform=" translate(30,175) rotate(270)" fill="black" style="font-size:0.60em;"> Viewers (Million) </text>
</svg>

