<script>

import { json } from "d3-fetch"
import { onMount } from 'svelte';
import { extent } from 'd3-array'
import Scatterplot  from './_ex_7_scatterplot.svelte';


let data = "Loading data"

onMount(async () => { await json("/data/gapminder.json")
  .then(values => extent(values, function(y) {  if(y.year === "1800") return y }))
  
  .then(countries => countries[0].countries)
  
  .then(d => data = d)
}); 

</script>
  <Scatterplot data={data}/>
